#header-area {
  flex-direction: column-reverse;
  margin-top: 10rem;
}
.alram-img {
  top: -20%;
  left: 70%;
}
.left-header {
  max-width: 100%;
}
.whyus-section {
  flex-direction: column;
}
.whysection-hero {
  position: relative;
  max-width: 70%;
}

.melting-cheese-card {
  max-width: 40%;
  position: absolute;
  top: 40%;
  right: -10rem;
}

.whyus-right-items {
  padding-top: 3rem;
  padding-left: 0rem;
  max-width: 90%;
}
.delivery-section {
  flex-direction: column-reverse;
  padding-top: 5rem;
}
.delivery-left-items {
  margin-top: 3rem;
  padding-right: 0rem;
  max-width: 90%;
}

.application-section {
  flex-direction: column;
}

.application-right-items {
  padding-top: 3rem;
  max-width: 90%;
  padding-left: 0;
}
.copyright-section {
  font-size: 0.8rem;
  padding: 1rem;
}
.copyright-section span {
  padding-left: 1rem;
  cursor: pointer;
}

/* ************Nav to hamburger************** */

.nav-items,
.nav-search-area {
  display: none;
}

#hamburger {
  display: flex;
}
