#whyUs {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.whyus-section {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.whysection-hero {
  position: relative;
}

.melting-cheese-card {
  position: absolute;
  top: 40%;
  right: -5rem;
  box-shadow: rgba(255, 109, 51, 0.15) 0px 48px 100px 0px;
}
.whyus-right-items {
  padding-left: 15rem;
  max-width: 50rem;
  div {
    font-weight: 500;
    color: $Myred;
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 1rem 0;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    max-width: 30rem;
  }
}
